Repository mesosphere/charts, changes with the owners that CODEOWNERS names for each.
All owners: @mesosphere/sig-ksphere-catalog, @mesosphere/devx, @mesosphere/sig-ksphere-cluster, @mesosphere/sig-ksphere-security, @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster, @mesosphere/sig-ksphere-observability

CODEOWNERS:

# Reviewer and approver configuration for charts.
# Implemented using GitHub's CODEOWNERS file.
# All repos are to require TWO approvals before merge.
# Reference: https://help.github.com/en/articles/about-code-owners
# Order is important: later rules override preceding rules

# These owners will be the default owners for everything in the repo unless a later match takes precedence
* @mesosphere/sig-ksphere-catalog

/stable/argo-cd @mesosphere/devx
/stable/awsebscsiprovisioner @mesosphere/sig-ksphere-cluster
/stable/awsebsprovisioner @mesosphere/sig-ksphere-cluster
/stable/azuredisk-csi-driver @mesosphere/sig-ksphere-cluster
/stable/azurediskprovisioner @mesosphere/sig-ksphere-cluster
/stable/defaultstorageclass @mesosphere/sig-ksphere-cluster
/stable/dex @mesosphere/sig-ksphere-security
/stable/dex-controller @mesosphere/sig-ksphere-security
/stable/dispatch @mesosphere/devx
/stable/gcpdisk-csi-driver @mesosphere/sig-ksphere-cluster
/stable/gcpdiskprovisioner @mesosphere/sig-ksphere-cluster
/stable/kommander @mesosphere/sig-ksphere-ui @mesosphere/sig-ksphere-multi-cluster
/stable/kommander-karma @mesosphere/sig-ksphere-observability
/stable/kommander-thanos @mesosphere/sig-ksphere-observability
/stable/localvolumeprovisioner @mesosphere/sig-ksphere-cluster
/stable/mtls-proxy @mesosphere/sig-ksphere-observability
/stable/opsportal @mesosphere/sig-ksphere-ui @mesosphere/sig-ksphere-security 
/stable/tekton @mesosphere/devx

/staging/prometheus-operator @mesosphere/sig-ksphere-observability

fix: enable ingress for opsportal ui
  stable/opsportal/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

chore: update chart version
  stable/opsportal/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

chore: update chart version
  stable/opsportal/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

fix: enable ingress for opsportal ui
  stable/opsportal/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

chore: update chart version
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.2.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

chore: update chart version
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.2.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

[stable/grafana] Add option testFramework.imagePullPolicy (#21609)
  Chart.yaml
  README.md
  templates/tests/test.yaml
  values.yaml
Owners: @mesosphere/sig-ksphere-catalog

feat(dka): add templates for kubectl credentials plugin
  staging/dex-k8s-authenticator/Chart.yaml
  staging/dex-k8s-authenticator/html-templates/kubeconfig.tmpl
  staging/dex-k8s-authenticator/html-templates/kubectl-plugin-instructions.html
  staging/dex-k8s-authenticator/html-templates/plugin.html
  staging/dex-k8s-authenticator/templates/configmap.yaml
Owners: @mesosphere/sig-ksphere-catalog

[stable/fluent-bit] Fix for google_service_credentials, fixes #20482 (#20483)
  Chart.yaml
  templates/daemonset.yaml
Owners: @mesosphere/sig-ksphere-catalog

[stable/several] Fix typo in deprecation comment (#21787)
  Chart.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore: Bump kcl 0.5.1 -> 0.5.2
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.1.tgz
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.2.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

fix: address PR comments
  staging/dex-k8s-authenticator/html-templates/kubectl-plugin-instructions.html
  staging/dex-k8s-authenticator/html-templates/plugin.html
Owners: @mesosphere/sig-ksphere-catalog

chore: Bump kcl 0.5.1 -> 0.5.2
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.1.tgz
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.2.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore: Bump kcl 0.5.1 -> 0.5.2
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.1.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.2.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

chore: Bump kcl 0.5.1 -> 0.5.2
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.1.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.2.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

bump(kommander): bump ui 3.16.5 -> 3.26.1
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-ui-3.16.5.tgz
  stable/kommander/charts/kommander-ui-3.26.1.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

bump(kommander): bump ui 3.16.5 -> 3.26.1
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-ui-3.16.5.tgz
  stable/kommander/charts/kommander-ui-3.26.1.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

bump(kommander): bump ui 3.16.5 -> 3.26.1
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.2.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.2.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

chore: update kommander appversion
  stable/kommander/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore: update kommander chart version
  stable/kommander/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore: update kommander appversion
  stable/kommander/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore: update kommander chart version
  stable/kommander/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore: update kommander chart version
  stable/index.yaml
  stable/kommander-0.6.3.tgz
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore: update kommander chart version
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.3.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.2.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

Plugin Instruction pages (#535)
  staging/dex-k8s-authenticator/Chart.yaml
  staging/dex-k8s-authenticator/html-templates/kubeconfig.tmpl
  staging/dex-k8s-authenticator/html-templates/kubectl-plugin-instructions.html
  staging/dex-k8s-authenticator/html-templates/plugin.html
  staging/dex-k8s-authenticator/templates/configmap.yaml
Owners: @mesosphere/sig-ksphere-catalog

Plugin Instruction pages (#535) * feat(dka): add templates for kubectl credentials plugin * fix: address PR comments Co-authored-by: Shane Utt <shaneutt@users.noreply.github.com>
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.3.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.2.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.16.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

Plugin Instruction pages (#535) * feat(dka): add templates for kubectl credentials plugin * fix: address PR comments Co-authored-by: Shane Utt <shaneutt@users.noreply.github.com>
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.3.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.2.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.16.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

fix(dka): fix errors in instructions page
  staging/dex-k8s-authenticator/Chart.yaml
  staging/dex-k8s-authenticator/html-templates/kubectl-plugin-instructions.html
  staging/dex-k8s-authenticator/html-templates/plugin.html
Owners: @mesosphere/sig-ksphere-catalog

kommander: Create kubecost ns hook
  stable/kommander/Chart.yaml
  stable/kommander/templates/hooks-kubeaddons.yaml
  stable/kommander/templates/hooks-kubecost.yaml
  stable/kommander/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

kommander: Downgrade kommander-ui to 3.25.5
  stable/kommander/charts/kommander-ui-3.25.5.tgz
  stable/kommander/charts/kommander-ui-3.26.1.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

[stable/karma] Upgrade karma to v0.60. (#21831)
  Chart.yaml
  README.md
  values.yaml
Owners: @mesosphere/sig-ksphere-catalog

kommander: Create kubecost ns hook (#540)
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-ui-3.25.5.tgz
  stable/kommander/charts/kommander-ui-3.26.1.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
  stable/kommander/templates/hooks-kubeaddons.yaml
  stable/kommander/templates/hooks-kubecost.yaml
  stable/kommander/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

kommander: Create kubecost ns hook (#540) * kommander: Create kubecost ns hook * kommander: Downgrade kommander-ui to 3.25.5
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.4.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.2.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.16.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

kommander: Create kubecost ns hook (#540) * kommander: Create kubecost ns hook * kommander: Downgrade kommander-ui to 3.25.5
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.4.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.2.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.16.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

chore(opsportal): bump ui 3.16.5 -> 3.25.5
  stable/opsportal/Chart.yaml
  stable/opsportal/charts/kommander-ui-3.16.5.tgz
  stable/opsportal/charts/kommander-ui-3.25.5.tgz
  stable/opsportal/requirements.lock
  stable/opsportal/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

chore(opsportal): bump ui 3.16.5 -> 3.25.5
  stable/opsportal/Chart.yaml
  stable/opsportal/charts/kommander-ui-3.16.5.tgz
  stable/opsportal/charts/kommander-ui-3.25.5.tgz
  stable/opsportal/requirements.lock
  stable/opsportal/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

chore(opsportal): bump ui 3.16.5 -> 3.25.5
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.4.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.3.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.16.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

chore(opsportal): bump ui 3.16.5 -> 3.25.5
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.4.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.3.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.16.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

chore: remove beta from appversion
  stable/kommander/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore: bump chart version
  stable/kommander/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster
