Repository mesosphere/charts, changes with the owners that CODEOWNERS names for each.
All owners: @mesosphere/sig-ksphere-catalog, @mesosphere/devx, @mesosphere/sig-ksphere-cluster, @mesosphere/sig-ksphere-security, @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster, @mesosphere/sig-ksphere-observability

CODEOWNERS:

# Reviewer and approver configuration for charts.
# Implemented using GitHub's CODEOWNERS file.
# All repos are to require TWO approvals before merge.
# Reference: https://help.github.com/en/articles/about-code-owners
# Order is important: later rules override preceding rules

# These owners will be the default owners for everything in the repo unless a later match takes precedence
* @mesosphere/sig-ksphere-catalog

/stable/argo-cd @mesosphere/devx
/stable/awsebscsiprovisioner @mesosphere/sig-ksphere-cluster
/stable/awsebsprovisioner @mesosphere/sig-ksphere-cluster
/stable/azuredisk-csi-driver @mesosphere/sig-ksphere-cluster
/stable/azurediskprovisioner @mesosphere/sig-ksphere-cluster
/stable/defaultstorageclass @mesosphere/sig-ksphere-cluster
/stable/dex @mesosphere/sig-ksphere-security
/stable/dex-controller @mesosphere/sig-ksphere-security
/stable/dispatch @mesosphere/devx
/stable/gcpdisk-csi-driver @mesosphere/sig-ksphere-cluster
/stable/gcpdiskprovisioner @mesosphere/sig-ksphere-cluster
/stable/kommander @mesosphere/sig-ksphere-ui @mesosphere/sig-ksphere-multi-cluster
/stable/kommander-karma @mesosphere/sig-ksphere-observability
/stable/kommander-thanos @mesosphere/sig-ksphere-observability
/stable/localvolumeprovisioner @mesosphere/sig-ksphere-cluster
/stable/mtls-proxy @mesosphere/sig-ksphere-observability
/stable/opsportal @mesosphere/sig-ksphere-ui @mesosphere/sig-ksphere-security 
/stable/tekton @mesosphere/devx

/staging/prometheus-operator @mesosphere/sig-ksphere-observability

chore: remove beta from appversion
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.4.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.3.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.16.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

chore: bump chart version
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.5.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.3.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.16.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

fix(dka): fix errors in instructions page (#539)
  staging/dex-k8s-authenticator/Chart.yaml
  staging/dex-k8s-authenticator/html-templates/kubectl-plugin-instructions.html
  staging/dex-k8s-authenticator/html-templates/plugin.html
Owners: @mesosphere/sig-ksphere-catalog

fix(dka): fix errors in instructions page (#539)
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.5.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.3.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.17.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

fix(dka): fix errors in instructions page (#539)
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.5.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.3.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.17.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

chore(opsportal): bump ui 3.25.5 -> 3.27.2
  stable/opsportal/Chart.yaml
  stable/opsportal/charts/kommander-ui-3.25.5.tgz
  stable/opsportal/charts/kommander-ui-3.27.2.tgz
  stable/opsportal/requirements.lock
  stable/opsportal/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

chore(kommander): bump ui 3.25.5 -> 3.27.2
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-ui-3.25.5.tgz
  stable/kommander/charts/kommander-ui-3.27.2.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

[opsportal/kommander] bump ui 3.25.5 -> 3.27.2 (#542)
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-ui-3.25.5.tgz
  stable/kommander/charts/kommander-ui-3.27.2.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
  stable/opsportal/Chart.yaml
  stable/opsportal/charts/kommander-ui-3.25.5.tgz
  stable/opsportal/charts/kommander-ui-3.27.2.tgz
  stable/opsportal/requirements.lock
  stable/opsportal/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster, @mesosphere/sig-ksphere-security

[opsportal/kommander] bump ui 3.25.5 -> 3.27.2 (#542)
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.6.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.4.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.17.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

[opsportal/kommander] bump ui 3.25.5 -> 3.27.2 (#542)
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.6.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.4.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.17.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

velero: bump minio to fix flake during init
  staging/velero/Chart.yaml
  staging/velero/charts/minio/Chart.yaml
  staging/velero/charts/minio/templates/cleanup-job.yaml
  staging/velero/charts/minio/values.yaml
  staging/velero/requirements.lock
  staging/velero/requirements.yaml
Owners: @mesosphere/sig-ksphere-catalog

Only replace variable datasources in shared dashboards (#21710)
  Chart.yaml
  templates/configmap.yaml
Owners: @mesosphere/sig-ksphere-catalog

velero: bump minio to fix flake during init (#544)
  staging/velero/Chart.yaml
  staging/velero/charts/minio/Chart.yaml
  staging/velero/charts/minio/templates/cleanup-job.yaml
  staging/velero/charts/minio/values.yaml
  staging/velero/requirements.lock
  staging/velero/requirements.yaml
Owners: @mesosphere/sig-ksphere-catalog

kubecost: Add stable/kubecost parent chart that wraps kubecost cost-analyzer chart
  stable/kubecost/.helmignore
  stable/kubecost/Chart.yaml
  stable/kubecost/README.md
  stable/kubecost/charts/cost-analyzer-1.55.1.tgz
  stable/kubecost/requirements.lock
  stable/kubecost/requirements.yaml
  stable/kubecost/templates/_helpers.tpl
  stable/kubecost/templates/hooks-clusterid.yaml
  stable/kubecost/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

kubecost: Add kubecost-cluster-info-configmap hooks
  stable/kubecost/templates/hooks-clusterid.yaml
Owners: @mesosphere/sig-ksphere-catalog

kubecost: Enable grafana
  stable/kubecost/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

kubecost: Upgrade to cost-analyzer 1.56.0
  stable/kubecost/charts/cost-analyzer-1.55.1.tgz
  stable/kubecost/charts/cost-analyzer-1.56.0.tgz
  stable/kubecost/requirements.lock
  stable/kubecost/requirements.yaml
Owners: @mesosphere/sig-ksphere-catalog

kubecost: Upgrade to kubecost 1.56.1
  stable/kubecost/charts/cost-analyzer-1.56.0.tgz
  stable/kubecost/charts/cost-analyzer-1.56.1.tgz
  stable/kubecost/requirements.lock
  stable/kubecost/requirements.yaml
Owners: @mesosphere/sig-ksphere-catalog

kubecost: Remove /ui from kubecost ingress
  stable/kubecost/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

kubecost: Templatize some values, update readme
  stable/kubecost/Chart.yaml
  stable/kubecost/README.md
  stable/kubecost/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

kubecost: Add comment to override ingress traefik rules for kommander
  stable/kubecost/README.md
  stable/kubecost/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

kubecost: Add kubecost chart repo to ci, lint
  stable/kubecost/values.yaml
  test/ct-e2e.yaml
  test/ct.yaml
Owners: @mesosphere/sig-ksphere-catalog

fix: Kind already supports PVC
  test/e2e-kind.sh
Owners: @mesosphere/sig-ksphere-catalog

bump kind version to the fixed version
  test/e2e-kind.sh
Owners: @mesosphere/sig-ksphere-catalog

bump kind version to the fixed version
  test/e2e-kind.sh
Owners: @mesosphere/sig-ksphere-catalog

fix: Kind already supports PVC
  test/e2e-kind.sh
Owners: @mesosphere/sig-ksphere-catalog

bump kind version to the fixed version
  stable/index.yaml
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

velero: backport of extraArgs fix: #20091
  staging/velero/Chart.yaml
  staging/velero/charts/minio/Chart.yaml
  staging/velero/charts/minio/templates/_helpers.tpl
  staging/velero/charts/minio/templates/deployment.yaml
  staging/velero/charts/minio/templates/statefulset.yaml
  staging/velero/requirements.lock
  staging/velero/requirements.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore(opsportal): bump ui 3.27.2 -> 3.31.2
  stable/opsportal/Chart.yaml
  stable/opsportal/charts/kommander-ui-3.27.2.tgz
  stable/opsportal/charts/kommander-ui-3.31.2.tgz
  stable/opsportal/requirements.lock
  stable/opsportal/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

chore(kommander): bump ui 3.27.2 -> 3.31.2
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-ui-3.27.2.tgz
  stable/kommander/charts/kommander-ui-3.31.2.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

velero: backport of extraArgs fix: #20091 (#547)
  staging/velero/Chart.yaml
  staging/velero/charts/minio/Chart.yaml
  staging/velero/charts/minio/templates/_helpers.tpl
  staging/velero/charts/minio/templates/deployment.yaml
  staging/velero/charts/minio/templates/statefulset.yaml
  staging/velero/requirements.lock
  staging/velero/requirements.yaml
Owners: @mesosphere/sig-ksphere-catalog

velero: backport of extraArgs fix: #20091 (#547)
  stable/index.yaml
  staging/index.yaml
  staging/velero-3.0.4.tgz
Owners: @mesosphere/sig-ksphere-catalog

[stable/prometheus-adapter] Defining a variable for listen port (#21918)
  Chart.yaml
  README.md
  templates/custom-metrics-apiserver-deployment.yaml
  values.yaml
Owners: @mesosphere/sig-ksphere-catalog

kubecost: Comment out ingresses with note
  stable/kubecost/README.md
  stable/kubecost/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

kubecost: Add parent chart (#543)
  stable/kubecost/.helmignore
  stable/kubecost/Chart.yaml
  stable/kubecost/README.md
  stable/kubecost/charts/cost-analyzer-1.56.1.tgz
  stable/kubecost/requirements.lock
  stable/kubecost/requirements.yaml
  stable/kubecost/templates/_helpers.tpl
  stable/kubecost/templates/hooks-clusterid.yaml
  stable/kubecost/values.yaml
  test/ct-e2e.yaml
  test/ct.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore: bumb image version of CI exclude test directory from grep result
  test/e2e-kind.sh
Owners: @mesosphere/sig-ksphere-catalog

bumped quay image version for our helm tooling
  Makefile
Owners: @mesosphere/sig-ksphere-catalog

nvidia: Added configurable option to disable vault repo in Nvidia driver container
  staging/nvidia/Chart.yaml
  staging/nvidia/charts/nvidia-driver/Chart.yaml
  staging/nvidia/charts/nvidia-driver/templates/configmap.yaml
  staging/nvidia/charts/nvidia-driver/templates/daemonset.yaml
  staging/nvidia/charts/nvidia-driver/values.yaml
  staging/nvidia/requirements.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore(opsportal): bump ui 3.27.2 -> 3.31.2
  stable/opsportal/Chart.yaml
  stable/opsportal/charts/kommander-ui-3.27.2.tgz
  stable/opsportal/charts/kommander-ui-3.31.2.tgz
  stable/opsportal/requirements.lock
  stable/opsportal/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

chore(kommander): bump ui 3.27.2 -> 3.31.2
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-ui-3.27.2.tgz
  stable/kommander/charts/kommander-ui-3.31.2.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster
