Repository mesosphere/charts, changes with the owners that CODEOWNERS names for each.
All owners: @mesosphere/sig-ksphere-catalog, @mesosphere/devx, @mesosphere/sig-ksphere-cluster, @mesosphere/sig-ksphere-security, @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster, @mesosphere/sig-ksphere-observability

chore(kommander): bump ui 3.27.2 -> 3.31.2
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.7.tgz
  stable/kubecost-0.1.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.5.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.17.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.4.tgz
Owners: @mesosphere/sig-ksphere-catalog

chore(kommander): bump ui 3.27.2 -> 3.31.2
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.7.tgz
  stable/kubecost-0.1.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.5.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.17.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.4.tgz
Owners: @mesosphere/sig-ksphere-catalog

Bump prom operator to v0.35.1
  staging/prometheus-operator/Chart.yaml
  staging/prometheus-operator/values.yaml
Owners: @mesosphere/sig-ksphere-observability

Bump prom operator to v0.35.1 (#551)
  staging/prometheus-operator/Chart.yaml
  staging/prometheus-operator/values.yaml
Owners: @mesosphere/sig-ksphere-observability

Bump prom operator to v0.35.1 (#551)
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.7.tgz
  stable/kubecost-0.1.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.5.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.17.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.5.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.4.tgz
Owners: @mesosphere/sig-ksphere-catalog

Bump prom operator to v0.35.1 (#551)
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.7.tgz
  stable/kubecost-0.1.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.5.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.17.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.5.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.4.tgz
Owners: @mesosphere/sig-ksphere-catalog

Bump prom operator to v0.35.1 (#551)
  stable/index.yaml
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore: bump KCL dependency in kommander chart
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.2.tgz
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.3.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore: bump KCL dependency in kommander chart
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.2.tgz
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.3.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore: bump KCL dependency in kommander chart
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.8.tgz
  stable/kubecost-0.1.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.5.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.17.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.5.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.4.tgz
Owners: @mesosphere/sig-ksphere-catalog

Update Makefile
  Makefile
Owners: @mesosphere/sig-ksphere-catalog

chore: bump kind image version of CI exclude test directory from grep result (#549)
  Makefile
  test/e2e-kind.sh
Owners: @mesosphere/sig-ksphere-catalog

prefer .Values.image.tag over .Chart.AppVersion for "app.kubernetes.io/version" label (#21965)
  Chart.yaml
  templates/_helpers.tpl
Owners: @mesosphere/sig-ksphere-catalog

nvidia: Added configurable option to disable vault repo in Nvidia driver container (#550)
  staging/nvidia/Chart.yaml
  staging/nvidia/charts/nvidia-driver/Chart.yaml
  staging/nvidia/charts/nvidia-driver/templates/configmap.yaml
  staging/nvidia/charts/nvidia-driver/templates/daemonset.yaml
  staging/nvidia/charts/nvidia-driver/values.yaml
  staging/nvidia/requirements.yaml
Owners: @mesosphere/sig-ksphere-catalog

nvidia: Added configurable option to disable vault repo in Nvidia driver container (#550) Co-authored-by: Alejandro Escobar <jaescobar.cell@gmail.com>
  stable/index.yaml
  staging/index.yaml
  staging/nvidia-0.3.4.tgz
Owners: @mesosphere/sig-ksphere-catalog

add watch to resource-reader ClusterRole (#22010)
  Chart.yaml
  templates/custom-metrics-resource-reader-cluster-role.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore: test dispatch webhook
  stable/kommander/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

dex: bump dex-controller to v0.6.0
  stable/dex/Chart.yaml
  stable/dex/charts/dex-controller-v0.5.0.tgz
  stable/dex/charts/dex-controller-v0.6.0.tgz
  stable/dex/requirements.lock
  stable/dex/requirements.yaml
Owners: @mesosphere/sig-ksphere-security

Revert "dex: bump dex-controller to v0.6.0"
  stable/dex/Chart.yaml
  stable/dex/charts/dex-controller-v0.5.0.tgz
  stable/dex/charts/dex-controller-v0.6.0.tgz
  stable/dex/requirements.lock
  stable/dex/requirements.yaml
Owners: @mesosphere/sig-ksphere-security

dex: bump dex-controller to v0.6.0 The new dex-controller release includes the following fixes: * Support specifying root CA for LDAP connectors. * Bumped controller runtime and toolings.
  stable/dex-2.8.5.tgz
  stable/index.yaml
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

dex: bump dex-controller to v0.6.0
  stable/dex/Chart.yaml
  stable/dex/charts/dex-controller-v0.5.0.tgz
  stable/dex/charts/dex-controller-v0.6.0.tgz
  stable/dex/requirements.lock
  stable/dex/requirements.yaml
Owners: @mesosphere/sig-ksphere-security

dex: bump dex-controller to v0.6.0 (#555)
  stable/dex/Chart.yaml
  stable/dex/charts/dex-controller-v0.5.0.tgz
  stable/dex/charts/dex-controller-v0.6.0.tgz
  stable/dex/requirements.lock
  stable/dex/requirements.yaml
Owners: @mesosphere/sig-ksphere-security

dex: bump dex-controller to v0.6.0 (#555) The new dex-controller release includes the following fixes: * Support specifying root CA for LDAP connectors. * Bumped controller runtime and toolings.
  stable/dex-2.8.5.tgz
  stable/index.yaml
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

hello
  README.md
Owners: @mesosphere/sig-ksphere-catalog

test webhook
  README.md
Owners: @mesosphere/sig-ksphere-catalog

chore: bump kcl version
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.3.tgz
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.4.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore: bump kcl version (#558)
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.3.tgz
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.4.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore: bump kcl version (#558)
  stable/index.yaml
  stable/kommander-0.6.9.tgz
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

test webhook
  README.md
Owners: @mesosphere/sig-ksphere-catalog

fix: metrics endpoint
  stable/cluster-autoscaler/Chart.yaml
  stable/cluster-autoscaler/templates/deployment.yaml
  stable/cluster-autoscaler/templates/service.yaml
  stable/cluster-autoscaler/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore: added impersonation headers
  stable/kommander/Chart.yaml
  stable/kommander/values.yaml
  stable/opsportal/Chart.yaml
  stable/opsportal/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster, @mesosphere/sig-ksphere-security

fix: set clusterName value to fix tests
  stable/cluster-autoscaler/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

fix: failing tests
  stable/cluster-autoscaler/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

fix: metrics endpoint (#560)
  stable/cluster-autoscaler/Chart.yaml
  stable/cluster-autoscaler/templates/deployment.yaml
  stable/cluster-autoscaler/templates/service.yaml
  stable/cluster-autoscaler/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

fix: metrics endpoint (#560) * fix: metrics endpoint * fix: set clusterName value to fix tests * fix: failing tests
  stable/cluster-autoscaler-7.1.3.tgz
  stable/index.yaml
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore: not mesosphere/kubeaddons-addon-initializer
  stable/kommander/values.yaml
  stable/opsportal/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster, @mesosphere/sig-ksphere-security

chore: added impersonation headers (#561)
  stable/kommander/Chart.yaml
  stable/kommander/values.yaml
  stable/opsportal/Chart.yaml
  stable/opsportal/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster, @mesosphere/sig-ksphere-security

fix: metrics endpoint
  stable/cluster-autoscaler/Chart.yaml
  stable/cluster-autoscaler/values.yaml
  stable/kommander/Chart.yaml
  stable/kommander/values.yaml
  stable/opsportal/Chart.yaml
  stable/opsportal/values.yaml
Owners: @mesosphere/sig-ksphere-catalog, @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster, @mesosphere/sig-ksphere-security

chore: add kubeaddons selector
  stable/cluster-autoscaler/Chart.yaml
  stable/cluster-autoscaler/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore: add kubeaddons selector (#563)
  stable/cluster-autoscaler/Chart.yaml
  stable/cluster-autoscaler/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

CODEOWNERS:

# Reviewer and approver configuration for charts.
# Implemented using GitHub's CODEOWNERS file.
# All repos are to require TWO approvals before merge.
# Reference: https://help.github.com/en/articles/about-code-owners
# Order is important: later rules override preceding rules

# These owners will be the default owners for everything in the repo unless a later match takes precedence
* @mesosphere/sig-ksphere-catalog

/stable/argo-cd @mesosphere/devx
/stable/awsebscsiprovisioner @mesosphere/sig-ksphere-cluster
/stable/awsebsprovisioner @mesosphere/sig-ksphere-cluster
/stable/azuredisk-csi-driver @mesosphere/sig-ksphere-cluster
/stable/azurediskprovisioner @mesosphere/sig-ksphere-cluster
/stable/defaultstorageclass @mesosphere/sig-ksphere-cluster
/stable/dex @mesosphere/sig-ksphere-security
/stable/dex-controller @mesosphere/sig-ksphere-security
/stable/dispatch @mesosphere/devx
/stable/gcpdisk-csi-driver @mesosphere/sig-ksphere-cluster
/stable/gcpdiskprovisioner @mesosphere/sig-ksphere-cluster
/stable/kommander @mesosphere/sig-ksphere-ui @mesosphere/sig-ksphere-multi-cluster
/stable/kommander-karma @mesosphere/sig-ksphere-observability
/stable/kommander-thanos @mesosphere/sig-ksphere-observability
/stable/localvolumeprovisioner @mesosphere/sig-ksphere-cluster
/stable/mtls-proxy @mesosphere/sig-ksphere-observability
/stable/opsportal @mesosphere/sig-ksphere-ui @mesosphere/sig-ksphere-security 
/stable/tekton @mesosphere/devx

/staging/prometheus-operator @mesosphere/sig-ksphere-observability
