Repository mesosphere/charts, changes with the owners that CODEOWNERS names for each.
All owners: @mesosphere/sig-ksphere-catalog, @mesosphere/devx, @mesosphere/sig-ksphere-cluster, @mesosphere/sig-ksphere-security, @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster, @mesosphere/sig-ksphere-observability

CODEOWNERS:

# Reviewer and approver configuration for charts.
# Implemented using GitHub's CODEOWNERS file.
# All repos are to require TWO approvals before merge.
# Reference: https://help.github.com/en/articles/about-code-owners
# Order is important: later rules override preceding rules

# These owners will be the default owners for everything in the repo unless a later match takes precedence
* @mesosphere/sig-ksphere-catalog

/stable/argo-cd @mesosphere/devx
/stable/awsebscsiprovisioner @mesosphere/sig-ksphere-cluster
/stable/awsebsprovisioner @mesosphere/sig-ksphere-cluster
/stable/azuredisk-csi-driver @mesosphere/sig-ksphere-cluster
/stable/azurediskprovisioner @mesosphere/sig-ksphere-cluster
/stable/defaultstorageclass @mesosphere/sig-ksphere-cluster
/stable/dex @mesosphere/sig-ksphere-security
/stable/dex-controller @mesosphere/sig-ksphere-security
/stable/dispatch @mesosphere/devx
/stable/gcpdisk-csi-driver @mesosphere/sig-ksphere-cluster
/stable/gcpdiskprovisioner @mesosphere/sig-ksphere-cluster
/stable/kommander @mesosphere/sig-ksphere-ui @mesosphere/sig-ksphere-multi-cluster
/stable/kommander-karma @mesosphere/sig-ksphere-observability
/stable/kommander-thanos @mesosphere/sig-ksphere-observability
/stable/localvolumeprovisioner @mesosphere/sig-ksphere-cluster
/stable/mtls-proxy @mesosphere/sig-ksphere-observability
/stable/opsportal @mesosphere/sig-ksphere-ui @mesosphere/sig-ksphere-security 
/stable/tekton @mesosphere/devx

/staging/prometheus-operator @mesosphere/sig-ksphere-observability

chore: bump opsportal ui 3.6.1 -> 3.16.5
  stable/opsportal/Chart.yaml
  stable/opsportal/charts/kommander-ui-3.16.5.tgz
  stable/opsportal/charts/kommander-ui-3.6.1.tgz
  stable/opsportal/requirements.lock
  stable/opsportal/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

chore: bump opsportal ui 3.6.1 -> 3.16.5
  stable/index.yaml
  stable/kommander-0.5.7.tgz
  stable/opsportal-0.3.1.tgz
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

Update Dispatchfile
  Dispatchfile
Owners: @mesosphere/sig-ksphere-catalog

fix: Dispatch publish tasks
  Dispatchfile
Owners: @mesosphere/sig-ksphere-catalog

Update Dispatchfile
  Dispatchfile
Owners: @mesosphere/sig-ksphere-catalog

Update Dispatchfile
  stable/awsebscsiprovisioner-0.3.5.tgz
  stable/azuredisk-csi-driver-0.5.1.tgz
  stable/cluster-autoscaler-7.1.0.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.5.7.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.9.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.1.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.7.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.7.4.tgz
  staging/traefik-1.72.17.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.1.tgz
Owners: @mesosphere/sig-ksphere-catalog

Update Dispatchfile
  stable/awsebscsiprovisioner-0.3.5.tgz
  stable/azuredisk-csi-driver-0.5.1.tgz
  stable/cluster-autoscaler-7.1.0.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.5.7.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.9.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.1.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.7.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.7.4.tgz
  staging/traefik-1.72.17.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.1.tgz
Owners: @mesosphere/sig-ksphere-catalog

fix: grafana dashboard job only if defaultDashboardsEnabled
  staging/prometheus-operator/Chart.yaml
  staging/prometheus-operator/templates/mesosphere-hooks/grafana-default-dashboard-hook.yaml
Owners: @mesosphere/sig-ksphere-observability

fix: grafana dashboard job only if defaultDashboardsEnabled (#522)
  staging/prometheus-operator/Chart.yaml
  staging/prometheus-operator/templates/mesosphere-hooks/grafana-default-dashboard-hook.yaml
Owners: @mesosphere/sig-ksphere-observability

fix: grafana dashboard job only if defaultDashboardsEnabled (#522)
  stable/awsebscsiprovisioner-0.3.5.tgz
  stable/azuredisk-csi-driver-0.5.1.tgz
  stable/cluster-autoscaler-7.1.0.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.5.7.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.9.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.1.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.7.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.7.5.tgz
  staging/traefik-1.72.17.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.1.tgz
Owners: @mesosphere/sig-ksphere-catalog

fix: grafana dashboard job only if defaultDashboardsEnabled (#522)
  stable/awsebscsiprovisioner-0.3.5.tgz
  stable/azuredisk-csi-driver-0.5.1.tgz
  stable/cluster-autoscaler-7.1.0.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.5.7.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.9.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.1.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.7.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.7.5.tgz
  staging/traefik-1.72.17.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.1.tgz
Owners: @mesosphere/sig-ksphere-catalog

fix: hook should not call static service name
  staging/prometheus-operator/Chart.yaml
  staging/prometheus-operator/templates/mesosphere-hooks/grafana-default-dashboard-hook.yaml
  staging/prometheus-operator/values.yaml
Owners: @mesosphere/sig-ksphere-observability

kommander: include fix to the kommander dashboard code
  stable/kommander/Chart.yaml
  stable/kommander/templates/grafana/hooks-home-dashboard.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

[prometheus-operator] fix: hook should not call static service name (#517)
  stable/kommander/Chart.yaml
  stable/kommander/templates/grafana/hooks-home-dashboard.yaml
  staging/prometheus-operator/Chart.yaml
  staging/prometheus-operator/templates/mesosphere-hooks/grafana-default-dashboard-hook.yaml
  staging/prometheus-operator/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster, @mesosphere/sig-ksphere-observability

[traefik] fix: set image pull policy to IfNotPresent (#518)
  staging/traefik/Chart.yaml
  staging/traefik/templates/deployment.yaml
  staging/traefik/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

[stable/grafana] Update Grafana to 6.7.1 (#21615)
  Chart.yaml
  README.md
  values.yaml
Owners: @mesosphere/sig-ksphere-catalog

kommander-kubecost: Add ns resource
  stable/kommander/charts/kommander-kubecost/templates/federated-addon.yaml
  stable/kommander/charts/kommander-kubecost/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

kommander-kubecost: Update kubecost chart to 1.54.1
  stable/kommander/charts/kommander-kubecost/templates/federated-addon.yaml
  stable/kommander/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

Initial commit for kommander-kubecost chart
  stable/kommander/charts/kommander-kubecost/.helmignore
  stable/kommander/charts/kommander-kubecost/Chart.yaml
  stable/kommander/charts/kommander-kubecost/README.md
  stable/kommander/charts/kommander-kubecost/requirements.lock
  stable/kommander/charts/kommander-kubecost/requirements.yaml
  stable/kommander/charts/kommander-kubecost/templates/_helpers.tpl
  stable/kommander/charts/kommander-kubecost/templates/federated-addon.yaml
  stable/kommander/charts/kommander-kubecost/templates/ingress-roles.yaml
  stable/kommander/charts/kommander-kubecost/templates/secret.yaml
  stable/kommander/charts/kommander-kubecost/values.yaml
  stable/kommander/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

kubecost: Rename kommander-kubecost to kubecost chart
  stable/kommander/charts/kubecost/.helmignore
  stable/kommander/charts/kubecost/Chart.yaml
  stable/kommander/charts/kubecost/README.md
  stable/kommander/charts/kubecost/requirements.lock
  stable/kommander/charts/kubecost/requirements.yaml
  stable/kommander/charts/kubecost/templates/_helpers.tpl
  stable/kommander/charts/kubecost/templates/federated-addon.yaml
  stable/kommander/charts/kubecost/templates/ingress-roles.yaml
  stable/kommander/charts/kubecost/templates/secret.yaml
  stable/kommander/charts/kubecost/values.yaml
  stable/kommander/requirements.yaml
  stable/kommander/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

kubecost: Templatize kubecost addon ns name
  stable/kommander/charts/kubecost/templates/federated-addon.yaml
  stable/kommander/charts/kubecost/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

kubecost: Disable grafana
  stable/kommander/charts/kubecost/templates/federated-addon.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

kubecost: Fix templating vars
  stable/kommander/charts/kubecost/templates/_helpers.tpl
  stable/kommander/charts/kubecost/templates/federated-addon.yaml
  stable/kommander/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

kubecost: Cleanup, add TODOs
  stable/kommander/charts/kubecost/README.md
  stable/kommander/charts/kubecost/templates/federated-addon.yaml
  stable/kommander/requirements.yaml
  stable/kommander/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

kubecost: Disable kubecost ui ingress
  stable/kommander/charts/kubecost/templates/federated-addon.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

kubecost: Enable kubecost ingress
  stable/kommander/charts/kubecost/templates/federated-addon.yaml
  stable/kommander/charts/kubecost/templates/ingress-roles.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

kubecost: Create kubecost ns if does not exist
  stable/kommander/charts/kubecost/templates/federated-addon.yaml
  stable/kommander/charts/kubecost/templates/hooks-kubecost.yaml
  stable/kommander/charts/kubecost/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

kommander: Update to 0.6.0
  stable/kommander/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

kubecost: Bump kubecost chart, expose gRPC port
  stable/kommander/charts/kubecost/templates/federated-addon.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

kubecost: Cleanup, default to off
  stable/kommander/charts/kubecost/README.md
  stable/kommander/charts/kubecost/values.yaml
  stable/kommander/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

missing volumesnapshots/status permission
  stable/awsebscsiprovisioner/Chart.yaml
  stable/awsebscsiprovisioner/templates/roles.yaml
Owners: @mesosphere/sig-ksphere-cluster

fix(cert-manager-setup): `usages` definition
  staging/cert-manager-setup/Chart.yaml
  staging/cert-manager-setup/ci/general-test-values.yaml
  staging/cert-manager-setup/templates/certificates.yaml
  staging/cert-manager-setup/templates/clusterissuer.yaml
  staging/cert-manager-setup/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

fix(cert-manager-setup): `usages` definition (#525)
  staging/cert-manager-setup/Chart.yaml
  staging/cert-manager-setup/ci/general-test-values.yaml
  staging/cert-manager-setup/templates/certificates.yaml
  staging/cert-manager-setup/templates/clusterissuer.yaml
  staging/cert-manager-setup/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

kubecost: Fix appVersion
  stable/kommander/charts/kubecost/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

[kommander,prometheus] chore: dynamically get grafana service url, add readme file
  stable/kommander/Chart.yaml
  stable/kommander/README.md
  stable/kommander/templates/grafana/hooks-home-dashboard.yaml
  stable/kommander/templates/grafana/opsportal-username-secret.yaml
  stable/kommander/values.yaml
  staging/prometheus-operator/Chart.yaml
  staging/prometheus-operator/templates/mesosphere-hooks/grafana-default-dashboard-hook.yaml
  staging/prometheus-operator/templates/mesosphere-hooks/prometheus-cluster-id-hooks.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster, @mesosphere/sig-ksphere-observability

missing volumesnapshots/status permission (#521)
  stable/awsebscsiprovisioner/Chart.yaml
  stable/awsebscsiprovisioner/templates/roles.yaml
Owners: @mesosphere/sig-ksphere-cluster

missing volumesnapshots/status permission (#521) [D2IQ-66019] The missing permission for leads to the following error message: [D2IQ-66019]: https://jira.d2iq.com/browse/D2IQ-66019
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.5.1.tgz
  stable/cluster-autoscaler-7.1.0.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.5.8.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.1.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.7.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.0.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.1.tgz
Owners: @mesosphere/sig-ksphere-catalog

missing volumesnapshots/status permission (#521) [D2IQ-66019] The missing permission for leads to the following error message: [D2IQ-66019]: https://jira.d2iq.com/browse/D2IQ-66019
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.5.1.tgz
  stable/cluster-autoscaler-7.1.0.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.5.8.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.1.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.7.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.0.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.1.tgz
Owners: @mesosphere/sig-ksphere-catalog

velero-minio: fix the data loss issue
  staging/velero/Chart.yaml
  staging/velero/charts/minio/templates/cleanup-job.yaml
Owners: @mesosphere/sig-ksphere-catalog

[stable/prometheus-adapter] Add podLabels support (#21658)
  Chart.yaml
  README.md
  templates/custom-metrics-apiserver-deployment.yaml
  values.yaml
Owners: @mesosphere/sig-ksphere-catalog
