Repository mesosphere/charts, changes with the owners that CODEOWNERS names for each.
All owners: @mesosphere/sig-ksphere-catalog, @mesosphere/devx, @mesosphere/sig-ksphere-cluster, @mesosphere/sig-ksphere-security, @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster, @mesosphere/sig-ksphere-observability

velero-minio: fix the data loss issue (#527)
  staging/velero/Chart.yaml
  staging/velero/charts/minio/templates/cleanup-job.yaml
Owners: @mesosphere/sig-ksphere-catalog

[kommander,prometheus] chore: dynamically get grafana service url, add readme file (#526)
  stable/kommander/Chart.yaml
  stable/kommander/README.md
  stable/kommander/templates/grafana/hooks-home-dashboard.yaml
  stable/kommander/templates/grafana/opsportal-username-secret.yaml
  stable/kommander/values.yaml
  staging/prometheus-operator/Chart.yaml
  staging/prometheus-operator/templates/mesosphere-hooks/grafana-default-dashboard-hook.yaml
  staging/prometheus-operator/templates/mesosphere-hooks/prometheus-cluster-id-hooks.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster, @mesosphere/sig-ksphere-observability

Disable Ingress by default as discussed per D2IQ-64149
  staging/kubeaddons-catalog/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

bug: fix missing metadata name parameter
  staging/prometheus-operator/Chart.yaml
  staging/prometheus-operator/crds/crd-prometheus.yaml
  staging/prometheus-operator/patch/README.md
  staging/prometheus-operator/patch/patch.sh
  staging/prometheus-operator/patch/patch_prometheus_crd.sh
Owners: @mesosphere/sig-ksphere-observability

chore: per PR comments, make patches more easily ordered and warn if yq is missing
  staging/prometheus-operator/patch/patch_50_prometheus_crd.sh
Owners: @mesosphere/sig-ksphere-observability

chore: per PR comments, make patches more easily ordered and warn if yq is missing
  staging/prometheus-operator/patch/patch_50_prometheus_crd.sh
Owners: @mesosphere/sig-ksphere-observability

bug: fix missing metadata name parameter
  staging/prometheus-operator/Chart.yaml
  staging/prometheus-operator/crds/crd-prometheus.yaml
  staging/prometheus-operator/patch/README.md
  staging/prometheus-operator/patch/patch.sh
  staging/prometheus-operator/patch/patch_prometheus_crd.sh
Owners: @mesosphere/sig-ksphere-observability

chore: per PR comments, make patches more easily ordered and warn if yq is missing
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.5.1.tgz
  stable/cluster-autoscaler-7.1.0.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.1.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.7.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.2.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

chore: per PR comments, make patches more easily ordered and warn if yq is missing
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.5.1.tgz
  stable/cluster-autoscaler-7.1.0.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.1.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.7.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.2.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

chore: bump azuredisk version
  stable/azuredisk-csi-driver/Chart.yaml
  stable/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  stable/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  stable/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  stable/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  stable/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  stable/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  stable/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  stable/azuredisk-csi-driver/values.yaml
Owners: @mesosphere/sig-ksphere-cluster

[stable/grafana] Set resources for downloadDashboards initContainer (#21472)
  Chart.yaml
  README.md
  templates/_pod.tpl
  values.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore: bump azuredisk version (#508)
  stable/azuredisk-csi-driver/Chart.yaml
  stable/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  stable/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  stable/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  stable/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  stable/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  stable/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  stable/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  stable/azuredisk-csi-driver/values.yaml
Owners: @mesosphere/sig-ksphere-cluster

chore: bump azuredisk version (#508) chore: bump chart version chore: address major comments chore: add conditions for the snapshot chore: bump some image versions
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.0.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.1.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.7.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.2.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

chore: bump azuredisk version (#508) chore: bump chart version chore: address major comments chore: add conditions for the snapshot chore: bump some image versions
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.0.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.1.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.7.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.2.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

bumping the chart version
  staging/kubeaddons-catalog/Chart.yaml
Owners: @mesosphere/sig-ksphere-catalog

Disable Ingress by default as discussed per D2IQ-64149 (#528)
  staging/kubeaddons-catalog/Chart.yaml
  staging/kubeaddons-catalog/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

Disable Ingress by default as discussed per D2IQ-64149 (#528)
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.0.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.1.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.2.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

Disable Ingress by default as discussed per D2IQ-64149 (#528)
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.0.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.1.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.2.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

bug: fix misplaced quotes
  staging/prometheus-operator/Chart.yaml
  staging/prometheus-operator/templates/mesosphere-hooks/grafana-default-dashboard-hook.yaml
Owners: @mesosphere/sig-ksphere-observability

bug: fix misplaced quotes
  staging/prometheus-operator/Chart.yaml
  staging/prometheus-operator/templates/mesosphere-hooks/grafana-default-dashboard-hook.yaml
Owners: @mesosphere/sig-ksphere-observability

bug: fix misplaced quotes
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.0.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.1.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.3.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

bug: fix misplaced quotes
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.0.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.1.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.3.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

knative: Added requirements.yaml and enable/disable switches to knative chart
  staging/knative/charts/serving/templates/custom-metrics-apiservice.yaml
  staging/knative/charts/serving/templates/gateway.yaml
  staging/knative/charts/serving/templates/namespace.yaml
  staging/knative/charts/serving/values.yaml
  staging/knative/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

knative: Bumped the chart version
  staging/knative/Chart.yaml
  staging/knative/charts/serving/Chart.yaml
  staging/knative/requirements.yaml
Owners: @mesosphere/sig-ksphere-catalog

knative: Bumped chart version to 0.2.0
  staging/knative/Chart.yaml
  staging/knative/charts/serving/Chart.yaml
  staging/knative/requirements.yaml
Owners: @mesosphere/sig-ksphere-catalog

knative: Renamed the namespace field in the value file
  staging/knative/charts/serving/templates/namespace.yaml
  staging/knative/charts/serving/values.yaml
  staging/knative/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

bug: make configmap name match reference
  staging/prometheus-operator/Chart.yaml
  staging/prometheus-operator/templates/mesosphere-hooks/grafana-default-dashboard-hook.yaml
Owners: @mesosphere/sig-ksphere-observability

knative: Added requirements.yaml and enable/disable switches to knative (#524)
  staging/knative/Chart.yaml
  staging/knative/charts/serving/Chart.yaml
  staging/knative/charts/serving/templates/custom-metrics-apiservice.yaml
  staging/knative/charts/serving/templates/gateway.yaml
  staging/knative/charts/serving/templates/namespace.yaml
  staging/knative/charts/serving/values.yaml
  staging/knative/requirements.yaml
  staging/knative/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

bug: make configmap name match reference
  staging/prometheus-operator/Chart.yaml
  staging/prometheus-operator/templates/mesosphere-hooks/grafana-default-dashboard-hook.yaml
Owners: @mesosphere/sig-ksphere-observability

bug: make configmap name match reference
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.0.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

bug: make configmap name match reference
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.0.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

fix: add permissions to handle konvoycluster resources
  stable/cluster-autoscaler/templates/clusterrole.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore: bump chart version
  stable/cluster-autoscaler/Chart.yaml
Owners: @mesosphere/sig-ksphere-catalog

fix: add permissions to handle konvoycluster resources (#532)
  stable/cluster-autoscaler/Chart.yaml
  stable/cluster-autoscaler/templates/clusterrole.yaml
Owners: @mesosphere/sig-ksphere-catalog

fix: add permissions to handle konvoycluster resources (#532) * fix: add permissions to handle konvoycluster resources * chore: bump chart version
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.1.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

fix: add permissions to handle konvoycluster resources (#532) * fix: add permissions to handle konvoycluster resources * chore: bump chart version
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.1.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

chore: use autodiscovery for konvoy provider
  stable/cluster-autoscaler/Chart.yaml
  stable/cluster-autoscaler/templates/deployment.yaml
  stable/cluster-autoscaler/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore: use autodiscovery for konvoy provider (#533)
  stable/cluster-autoscaler/Chart.yaml
  stable/cluster-autoscaler/templates/deployment.yaml
  stable/cluster-autoscaler/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore: use autodiscovery for konvoy provider (#533)
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

chore: use autodiscovery for konvoy provider (#533)
  stable/awsebscsiprovisioner-0.3.6.tgz
  stable/azuredisk-csi-driver-0.6.0.tgz
  stable/cluster-autoscaler-7.1.2.tgz
  stable/defaultstorageclass-0.0.1.tgz
  stable/dex-2.8.4.tgz
  stable/dex-controller-0.2.1.tgz
  stable/gcpdisk-csi-driver-0.6.0.tgz
  stable/index.yaml
  stable/kommander-0.6.0.tgz
  stable/localvolumeprovisioner-0.5.0.tgz
  stable/mtls-proxy-0.1.1.tgz
  stable/opsportal-0.3.1.tgz
  staging/cert-manager-setup-0.1.10.tgz
  staging/dex-k8s-authenticator-1.1.15.tgz
  staging/flagger-0.19.0.tgz
  staging/gatekeeper-0.3.3.tgz
  staging/generic-ingress-0.1.1.tgz
  staging/index.yaml
  staging/istio-1.4.3.tgz
  staging/knative-0.2.0.tgz
  staging/konvoyconfig-0.0.2.tgz
  staging/kube-oidc-proxy-0.2.1.tgz
  staging/kubeaddons-catalog-0.1.8.tgz
  staging/kubefed-0.0.3.tgz
  staging/kubernetes-dashboard-2.0.0.tgz
  staging/kudo-0.1.4.tgz
  staging/local-path-provisioner-0.0.12.tgz
  staging/nfs-server-provisioner-0.6.0.tgz
  staging/nvidia-0.3.3.tgz
  staging/prometheus-operator-8.8.4.tgz
  staging/traefik-1.72.18.tgz
  staging/traefik-forward-auth-0.2.14.tgz
  staging/traefik2-3.3.2.tgz
  staging/velero-3.0.2.tgz
Owners: @mesosphere/sig-ksphere-catalog

CODEOWNERS:

# Reviewer and approver configuration for charts.
# Implemented using GitHub's CODEOWNERS file.
# All repos are to require TWO approvals before merge.
# Reference: https://help.github.com/en/articles/about-code-owners
# Order is important: later rules override preceding rules

# These owners will be the default owners for everything in the repo unless a later match takes precedence
* @mesosphere/sig-ksphere-catalog

/stable/argo-cd @mesosphere/devx
/stable/awsebscsiprovisioner @mesosphere/sig-ksphere-cluster
/stable/awsebsprovisioner @mesosphere/sig-ksphere-cluster
/stable/azuredisk-csi-driver @mesosphere/sig-ksphere-cluster
/stable/azurediskprovisioner @mesosphere/sig-ksphere-cluster
/stable/defaultstorageclass @mesosphere/sig-ksphere-cluster
/stable/dex @mesosphere/sig-ksphere-security
/stable/dex-controller @mesosphere/sig-ksphere-security
/stable/dispatch @mesosphere/devx
/stable/gcpdisk-csi-driver @mesosphere/sig-ksphere-cluster
/stable/gcpdiskprovisioner @mesosphere/sig-ksphere-cluster
/stable/kommander @mesosphere/sig-ksphere-ui @mesosphere/sig-ksphere-multi-cluster
/stable/kommander-karma @mesosphere/sig-ksphere-observability
/stable/kommander-thanos @mesosphere/sig-ksphere-observability
/stable/localvolumeprovisioner @mesosphere/sig-ksphere-cluster
/stable/mtls-proxy @mesosphere/sig-ksphere-observability
/stable/opsportal @mesosphere/sig-ksphere-ui @mesosphere/sig-ksphere-security 
/stable/tekton @mesosphere/devx

/staging/prometheus-operator @mesosphere/sig-ksphere-observability
