Repository mesosphere/charts, changes with the owners that CODEOWNERS names for each.
All owners: @mesosphere/sig-ksphere-catalog, @mesosphere/devx, @mesosphere/sig-ksphere-cluster, @mesosphere/sig-ksphere-security, @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster, @mesosphere/sig-ksphere-observability

chore: add kubeaddons selector (#563)
  stable/cluster-autoscaler-7.1.4.tgz
  stable/index.yaml
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

noop
  README.md
Owners: @mesosphere/sig-ksphere-catalog

chore: bump kcl
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.4.tgz
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.5.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
  stable/kommander/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore: bump kcl (#565)
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.4.tgz
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.5.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
  stable/kommander/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore: bump kcl (#565)
  stable/index.yaml
  stable/kommander-0.6.11.tgz
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

[stable/kube-state-metrics] use the correct rbac values parameter (#22089)
  Chart.yaml
  templates/psp-clusterrole.yaml
  templates/psp-clusterrolebinding.yaml
Owners: @mesosphere/sig-ksphere-catalog

[stable/kube-state-metrics] Use apiGroup policy rather than extension for k8s > 1.15 in ClusterRole psp-kube-state-metrics (#21563)
  Chart.yaml
  templates/psp-clusterrole.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore: update version of kcl to v0.5.6
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.5.tgz
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.6.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore: update version of kcl to v0.5.6 (#566)
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.5.tgz
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.6.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore: update version of kcl to v0.5.6 (#566)
  stable/index.yaml
  stable/kommander-0.6.12.tgz
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

[stable/grafana] Update grafana chart README (#22091)
  Chart.yaml
  README.md
Owners: @mesosphere/sig-ksphere-catalog

[stable/grafana] Template ingress annotations (#22123)
  Chart.yaml
  README.md
  templates/ingress.yaml
  values.yaml
Owners: @mesosphere/sig-ksphere-catalog

[stable/grafana] Make envFromSecret value be templated (#22109)
  Chart.yaml
  README.md
  templates/_pod.tpl
  values.yaml
Owners: @mesosphere/sig-ksphere-catalog

feat(opsportal): aggregate roles
  stable/opsportal/Chart.yaml
  stable/opsportal/templates/ingress-opsportal-roles.yaml
  stable/opsportal/templates/kibana-roles.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

feat(opsportal): aggregate roles
  stable/opsportal/Chart.yaml
  stable/opsportal/templates/ingress-opsportal-roles.yaml
  stable/opsportal/templates/kibana-roles.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

chore(kommander): bump ui 3.31.2 -> 3.41.4
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-ui-3.31.2.tgz
  stable/kommander/charts/kommander-ui-3.41.4.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore(opsportalx): bump ui 3.31.2 -> 3.41.4
  stable/opsportal/charts/kommander-ui-3.31.2.tgz
  stable/opsportal/charts/kommander-ui-3.41.4.tgz
  stable/opsportal/requirements.lock
  stable/opsportal/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

feat(opsportal): aggregate roles - aggregate roles to default roles [D2IQ-67767] [D2IQ-67767]: https://jira.d2iq.com/browse/D2IQ-67767
  stable/index.yaml
  stable/opsportal-0.3.7.tgz
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore: update chart version
  stable/opsportal/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

chore: update chart version
  stable/opsportal/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

chore(kommander): bump ui 3.31.2 -> 3.41.4
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-ui-3.31.2.tgz
  stable/kommander/charts/kommander-ui-3.41.4.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore(opsportalx): bump ui 3.31.2 -> 3.41.4
  stable/opsportal/charts/kommander-ui-3.31.2.tgz
  stable/opsportal/charts/kommander-ui-3.41.4.tgz
  stable/opsportal/requirements.lock
  stable/opsportal/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

chore: update chart version
  stable/index.yaml
  stable/kommander-0.6.13.tgz
  stable/opsportal-0.3.8.tgz
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

resolving 401 issue with opsportal-kommander-view ClusterRole for Kommander UI
  stable/kommander/templates/kommander-ui/ingress-roles.yaml
  stable/kommander/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

fix(kommander): aggregate roles
  stable/kommander/Chart.yaml
  stable/kommander/templates/kommander-ui/ingress-roles.yaml
  stable/opsportal/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster, @mesosphere/sig-ksphere-security

[D2IQ-66836] opsportal-kommander-view ClusterRole 401 viewing Kommander UI (#545)
  stable/kommander/Chart.yaml
  stable/kommander/templates/kommander-ui/ingress-roles.yaml
  stable/kommander/values.yaml
  stable/opsportal/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster, @mesosphere/sig-ksphere-security

updating Kibana opsportal-kibana-view with additional nonResourceURLs to support Discover Tab and Timelion
  stable/opsportal/templates/kibana-roles.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

chore: raised opsportal version
  stable/opsportal/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

chore: raised opsportal version
  stable/opsportal/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

updating Kibana opsportal-kibana-view with additional nonResourceURLs to support Discover Tab and Timelion
  stable/opsportal/templates/kibana-roles.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

chore: raised opsportal version - version 0.3.10 [D2IQ-66863] [D2IQ-66863]: https://jira.d2iq.com/browse/D2IQ-66863
  stable/index.yaml
  stable/opsportal-0.3.10.tgz
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

[stable/fluent-bit] Adds imagePullSecrets to test image (#21946)
  Chart.yaml
  README.md
  templates/tests/test.yaml
  values.yaml
Owners: @mesosphere/sig-ksphere-catalog

[stable/grafana] Ability to give a subpath for an extra secret (#22145)
  Chart.yaml
  templates/_pod.tpl
  values.yaml
Owners: @mesosphere/sig-ksphere-catalog

[stable/elasticsearch-exporter] add extraEnvSecrets (#22067)
  Chart.yaml
  README.md
  templates/deployment.yaml
  values.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore: bump kcl
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.6.tgz
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.7.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore: bump kcl (#568)
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.6.tgz
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.7.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore: bump kcl (#568)
  stable/index.yaml
  stable/kommander-0.6.15.tgz
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore: bump kommander-ui version
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-ui-3.41.4.tgz
  stable/kommander/charts/kommander-ui-3.46.5.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
  stable/opsportal/Chart.yaml
  stable/opsportal/charts/kommander-ui-3.41.4.tgz
  stable/opsportal/charts/kommander-ui-3.46.5.tgz
  stable/opsportal/requirements.lock
  stable/opsportal/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster, @mesosphere/sig-ksphere-security

chore: bump kommander-ui version (#569)
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-ui-3.41.4.tgz
  stable/kommander/charts/kommander-ui-3.46.5.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
  stable/opsportal/Chart.yaml
  stable/opsportal/charts/kommander-ui-3.41.4.tgz
  stable/opsportal/charts/kommander-ui-3.46.5.tgz
  stable/opsportal/requirements.lock
  stable/opsportal/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster, @mesosphere/sig-ksphere-security

chore: bump kommander-ui version (#569) - new version 3.46.5 [D2IQ-67881] #comment Set GitHub [D2IQ-67881]: https://jira.d2iq.com/browse/D2IQ-67881
  stable/index.yaml
  stable/kommander-0.6.16.tgz
  stable/opsportal-0.3.11.tgz
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

CODEOWNERS:

# Reviewer and approver configuration for charts.
# Implemented using GitHub's CODEOWNERS file.
# All repos are to require TWO approvals before merge.
# Reference: https://help.github.com/en/articles/about-code-owners
# Order is important: later rules override preceding rules

# These owners will be the default owners for everything in the repo unless a later match takes precedence
* @mesosphere/sig-ksphere-catalog

/stable/argo-cd @mesosphere/devx
/stable/awsebscsiprovisioner @mesosphere/sig-ksphere-cluster
/stable/awsebsprovisioner @mesosphere/sig-ksphere-cluster
/stable/azuredisk-csi-driver @mesosphere/sig-ksphere-cluster
/stable/azurediskprovisioner @mesosphere/sig-ksphere-cluster
/stable/defaultstorageclass @mesosphere/sig-ksphere-cluster
/stable/dex @mesosphere/sig-ksphere-security
/stable/dex-controller @mesosphere/sig-ksphere-security
/stable/dispatch @mesosphere/devx
/stable/gcpdisk-csi-driver @mesosphere/sig-ksphere-cluster
/stable/gcpdiskprovisioner @mesosphere/sig-ksphere-cluster
/stable/kommander @mesosphere/sig-ksphere-ui @mesosphere/sig-ksphere-multi-cluster
/stable/kommander-karma @mesosphere/sig-ksphere-observability
/stable/kommander-thanos @mesosphere/sig-ksphere-observability
/stable/localvolumeprovisioner @mesosphere/sig-ksphere-cluster
/stable/mtls-proxy @mesosphere/sig-ksphere-observability
/stable/opsportal @mesosphere/sig-ksphere-ui @mesosphere/sig-ksphere-security 
/stable/tekton @mesosphere/devx

/staging/prometheus-operator @mesosphere/sig-ksphere-observability
