Repository mesosphere/charts, changes with the owners that CODEOWNERS names for each.
All owners: @mesosphere/sig-ksphere-catalog, @mesosphere/devx, @mesosphere/sig-ksphere-cluster, @mesosphere/sig-ksphere-security, @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster, @mesosphere/sig-ksphere-observability

chore: update awsebscsiprovisioner chart (#492)
  stable/awsebscsiprovisioner/Chart.yaml
  stable/awsebscsiprovisioner/ci/annotations-kube2iam-usage.yaml
  stable/awsebscsiprovisioner/ci/more-specific-settings.yaml
  stable/awsebscsiprovisioner/templates/_helpers.tpl
  stable/awsebscsiprovisioner/templates/csidriver.yaml
  stable/awsebscsiprovisioner/templates/daemonset.yaml
  stable/awsebscsiprovisioner/templates/roles.yaml
  stable/awsebscsiprovisioner/templates/statefulset-snapshot-controller.yaml
  stable/awsebscsiprovisioner/templates/statefulset.yaml
  stable/awsebscsiprovisioner/templates/storageclass.yaml
  stable/awsebscsiprovisioner/values.yaml
  test/ct-e2e.yaml
  test/e2e-kind.sh
Owners: @mesosphere/sig-ksphere-cluster, @mesosphere/sig-ksphere-catalog

update subcharts with latest changes
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-karma-0.3.8.tgz
  stable/kommander/charts/kommander-karma/Chart.yaml
  stable/kommander/charts/kommander-karma/values.yaml
  stable/kommander/charts/kommander-thanos-0.1.13.tgz
  stable/kommander/charts/kommander-thanos/Chart.yaml
  stable/kommander/charts/kommander-thanos/values.yaml
  stable/kommander/requirements.lock
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

fix lint
  stable/kommander/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

refactor(kommander): Use thanos & karma source code as subcharts (#453)
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-karma-0.3.8.tgz
  stable/kommander/charts/kommander-karma/.helmignore
  stable/kommander/charts/kommander-karma/Chart.yaml
  stable/kommander/charts/kommander-karma/README.md
  stable/kommander/charts/kommander-karma/charts/karma-1.4.0.tgz
  stable/kommander/charts/kommander-karma/requirements.lock
  stable/kommander/charts/kommander-karma/requirements.yaml
  stable/kommander/charts/kommander-karma/templates/_helpers.tpl
  stable/kommander/charts/kommander-karma/templates/cleanup-configmap.yaml
  stable/kommander/charts/kommander-karma/templates/federated-addon.yaml
  stable/kommander/charts/kommander-karma/templates/secret.yaml
  stable/kommander/charts/kommander-karma/values.yaml
  stable/kommander/charts/kommander-thanos-0.1.13.tgz
  stable/kommander/charts/kommander-thanos/.helmignore
  stable/kommander/charts/kommander-thanos/Chart.yaml
  stable/kommander/charts/kommander-thanos/README.md
  stable/kommander/charts/kommander-thanos/charts/thanos-0.3.9.tgz
  stable/kommander/charts/kommander-thanos/requirements.lock
  stable/kommander/charts/kommander-thanos/requirements.yaml
  stable/kommander/charts/kommander-thanos/templates/_helpers.tpl
  stable/kommander/charts/kommander-thanos/templates/federated-addon.yaml
  stable/kommander/charts/kommander-thanos/templates/query-stores-configmap.yaml
  stable/kommander/charts/kommander-thanos/templates/secret.yaml
  stable/kommander/charts/kommander-thanos/values.yaml
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

refactor(kommander): Use thanos & karma source code as subcharts (#453)
  stable/index.yaml
  stable/kommander-0.5.3.tgz
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

Delete kommander-thanos and -karma charts
  stable/kommander-karma/.helmignore
  stable/kommander-karma/Chart.yaml
  stable/kommander-karma/README.md
  stable/kommander-karma/charts/karma-1.4.0.tgz
  stable/kommander-karma/requirements.lock
  stable/kommander-karma/requirements.yaml
  stable/kommander-karma/templates/_helpers.tpl
  stable/kommander-karma/templates/cleanup-configmap.yaml
  stable/kommander-karma/templates/federated-addon.yaml
  stable/kommander-karma/templates/ingress-roles.yaml
  stable/kommander-karma/templates/secret.yaml
  stable/kommander-karma/values.yaml
  stable/kommander-thanos/.helmignore
  stable/kommander-thanos/Chart.yaml
  stable/kommander-thanos/README.md
  stable/kommander-thanos/charts/thanos-0.3.9.tgz
  stable/kommander-thanos/requirements.lock
  stable/kommander-thanos/requirements.yaml
  stable/kommander-thanos/templates/_helpers.tpl
  stable/kommander-thanos/templates/federated-addon.yaml
  stable/kommander-thanos/templates/ingress-roles.yaml
  stable/kommander-thanos/templates/query-stores-configmap.yaml
  stable/kommander-thanos/templates/secret.yaml
  stable/kommander-thanos/values.yaml
Owners: @mesosphere/sig-ksphere-observability

Delete kommander-thanos and -karma charts (#506)
  stable/kommander-karma/.helmignore
  stable/kommander-karma/Chart.yaml
  stable/kommander-karma/README.md
  stable/kommander-karma/charts/karma-1.4.0.tgz
  stable/kommander-karma/requirements.lock
  stable/kommander-karma/requirements.yaml
  stable/kommander-karma/templates/_helpers.tpl
  stable/kommander-karma/templates/cleanup-configmap.yaml
  stable/kommander-karma/templates/federated-addon.yaml
  stable/kommander-karma/templates/ingress-roles.yaml
  stable/kommander-karma/templates/secret.yaml
  stable/kommander-karma/values.yaml
  stable/kommander-thanos/.helmignore
  stable/kommander-thanos/Chart.yaml
  stable/kommander-thanos/README.md
  stable/kommander-thanos/charts/thanos-0.3.9.tgz
  stable/kommander-thanos/requirements.lock
  stable/kommander-thanos/requirements.yaml
  stable/kommander-thanos/templates/_helpers.tpl
  stable/kommander-thanos/templates/federated-addon.yaml
  stable/kommander-thanos/templates/ingress-roles.yaml
  stable/kommander-thanos/templates/query-stores-configmap.yaml
  stable/kommander-thanos/templates/secret.yaml
  stable/kommander-thanos/values.yaml
Owners: @mesosphere/sig-ksphere-observability

[stable/grafana] Add support for extraExposePorts (#21547)
  Chart.yaml
  README.md
  templates/service.yaml
  values.yaml
Owners: @mesosphere/sig-ksphere-catalog

kube-oidc-proxy: cleanup some certs logic
  staging/kube-oidc-proxy/Chart.yaml
  staging/kube-oidc-proxy/templates/certificate.yaml
  staging/kube-oidc-proxy/templates/deployment.yaml
  staging/kube-oidc-proxy/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

dka: allow using system default CA
  staging/dex-k8s-authenticator/Chart.yaml
  staging/dex-k8s-authenticator/html-templates/linux-mac-common.html
  staging/dex-k8s-authenticator/templates/configmap.yaml
  staging/dex-k8s-authenticator/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

fix: disable awsebscsiprovisioner snapshot-controller
  stable/awsebscsiprovisioner/Chart.yaml
  stable/awsebscsiprovisioner/templates/statefulset-snapshot-controller.yaml
Owners: @mesosphere/sig-ksphere-cluster

fix: clusterrolebinding update for attacher
  stable/awsebscsiprovisioner/templates/roles.yaml
Owners: @mesosphere/sig-ksphere-cluster

chore: move values from addon to chart
  stable/kommander/Chart.yaml
  stable/kommander/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

fix: disable awsebscsiprovisioner snapshot-controller and correct ebs-external-attacher-role (#511)
  stable/awsebscsiprovisioner/Chart.yaml
  stable/awsebscsiprovisioner/templates/roles.yaml
  stable/awsebscsiprovisioner/templates/statefulset-snapshot-controller.yaml
Owners: @mesosphere/sig-ksphere-cluster

chore: move values from addon to chart
  stable/kommander/Chart.yaml
  stable/kommander/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore: move values from addon to chart
  stable/index.yaml
  stable/kommander-0.5.4.tgz
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

dka: allow using system default CA (#510)
  staging/dex-k8s-authenticator/Chart.yaml
  staging/dex-k8s-authenticator/html-templates/linux-mac-common.html
  staging/dex-k8s-authenticator/templates/configmap.yaml
  staging/dex-k8s-authenticator/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

kube-oidc-proxy: cleanup some certs logic (#509)
  staging/kube-oidc-proxy/Chart.yaml
  staging/kube-oidc-proxy/templates/certificate.yaml
  staging/kube-oidc-proxy/templates/deployment.yaml
  staging/kube-oidc-proxy/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

Add konvoy-async-auth chart
  stable/konvoy-async-auth/.helmignore
  stable/konvoy-async-auth/Chart.yaml
  stable/konvoy-async-auth/templates/NOTES.txt
  stable/konvoy-async-auth/templates/_helpers.tpl
  stable/konvoy-async-auth/templates/deployment.yaml
  stable/konvoy-async-auth/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

feat(kube-oidc-proxy): added caCertPemHostPath
  staging/kube-oidc-proxy/templates/deployment.yaml
  staging/kube-oidc-proxy/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

kube-oidc-proxy: tweak the precedence order for CA
  staging/kube-oidc-proxy/Chart.yaml
  staging/kube-oidc-proxy/templates/deployment.yaml
  staging/kube-oidc-proxy/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore: bump traefik image from 1.7.12 to 1.7.23
  staging/traefik/Chart.yaml
  staging/traefik/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore: bump traefik image from 1.7.12 to 1.7.23
  staging/traefik/Chart.yaml
  staging/traefik/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

feat(kube-oidc-proxy): added caSystemDefault and caCertPemHostPath (#507)
  staging/kube-oidc-proxy/Chart.yaml
  staging/kube-oidc-proxy/templates/deployment.yaml
  staging/kube-oidc-proxy/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

Revert "chore: move values from addon to chart"
  stable/kommander/Chart.yaml
  stable/kommander/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

Update Chart.yaml
  stable/kommander/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

fix: federate karma-proxy only to Konvoy clusters
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-karma/Chart.yaml
  stable/kommander/charts/kommander-karma/templates/federated-addon.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

working commit: transfer
  stable/konvoy-async-auth/templates/hooks.yaml
  stable/konvoy-async-auth/templates/ingress.yaml
  stable/konvoy-async-auth/templates/roles.yaml
  stable/konvoy-async-auth/templates/secret.yaml
  stable/konvoy-async-auth/templates/serviceaccount.yaml
  stable/konvoy-async-auth/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

working commit: transfer
  stable/konvoy-async-auth/templates/deployment.yaml
Owners: @mesosphere/sig-ksphere-catalog

fix: federate karma-proxy only to Konvoy clusters (#516)
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-karma/Chart.yaml
  stable/kommander/charts/kommander-karma/templates/federated-addon.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

fix: federate karma-proxy only to Konvoy clusters (#516)
  stable/index.yaml
  stable/kommander-0.5.5.tgz
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

[traefik] fix: set image pull policy to IfNotPresent
  staging/traefik/Chart.yaml
  staging/traefik/templates/deployment.yaml
  staging/traefik/values.yaml
Owners: @mesosphere/sig-ksphere-catalog

Update Chart.yaml
  stable/kommander/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore: bump kcl 0.5.0 -> 0.5.1
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.0.tgz
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.1.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

chore: bump ui 3.12.3 -> 3.16.5
  stable/kommander/charts/kommander-ui-3.12.3.tgz
  stable/kommander/charts/kommander-ui-3.16.5.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

[kommander] bump UI & KCL (#519)
  stable/kommander/Chart.yaml
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.0.tgz
  stable/kommander/charts/kommander-cluster-lifecycle-v0.5.1.tgz
  stable/kommander/charts/kommander-ui-3.12.3.tgz
  stable/kommander/charts/kommander-ui-3.16.5.tgz
  stable/kommander/requirements.lock
  stable/kommander/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

Update Chart.yaml
  stable/kommander/Chart.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

[kommander] bump UI & KCL (#519) * chore: bump kcl 0.5.0 -> 0.5.1 * chore: bump ui 3.12.3 -> 3.16.5
  stable/index.yaml
  stable/kommander-0.5.6.tgz
  staging/index.yaml
Owners: @mesosphere/sig-ksphere-catalog

chore: bump opsportal ui 3.6.1 -> 3.16.5
  stable/opsportal/Chart.yaml
  stable/opsportal/charts/kommander-ui-3.16.5.tgz
  stable/opsportal/charts/kommander-ui-3.6.1.tgz
  stable/opsportal/requirements.lock
  stable/opsportal/requirements.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-security

[kommander] Revert "chore: move values from addon to chart" (#515)
  stable/kommander/Chart.yaml
  stable/kommander/values.yaml
Owners: @mesosphere/sig-ksphere-ui, @mesosphere/sig-ksphere-multi-cluster

CODEOWNERS:

# Reviewer and approver configuration for charts.
# Implemented using GitHub's CODEOWNERS file.
# All repos are to require TWO approvals before merge.
# Reference: https://help.github.com/en/articles/about-code-owners
# Order is important: later rules override preceding rules

# These owners will be the default owners for everything in the repo unless a later match takes precedence
* @mesosphere/sig-ksphere-catalog

/stable/argo-cd @mesosphere/devx
/stable/awsebscsiprovisioner @mesosphere/sig-ksphere-cluster
/stable/awsebsprovisioner @mesosphere/sig-ksphere-cluster
/stable/azuredisk-csi-driver @mesosphere/sig-ksphere-cluster
/stable/azurediskprovisioner @mesosphere/sig-ksphere-cluster
/stable/defaultstorageclass @mesosphere/sig-ksphere-cluster
/stable/dex @mesosphere/sig-ksphere-security
/stable/dex-controller @mesosphere/sig-ksphere-security
/stable/dispatch @mesosphere/devx
/stable/gcpdisk-csi-driver @mesosphere/sig-ksphere-cluster
/stable/gcpdiskprovisioner @mesosphere/sig-ksphere-cluster
/stable/kommander @mesosphere/sig-ksphere-ui @mesosphere/sig-ksphere-multi-cluster
/stable/kommander-karma @mesosphere/sig-ksphere-observability
/stable/kommander-thanos @mesosphere/sig-ksphere-observability
/stable/localvolumeprovisioner @mesosphere/sig-ksphere-cluster
/stable/mtls-proxy @mesosphere/sig-ksphere-observability
/stable/opsportal @mesosphere/sig-ksphere-ui @mesosphere/sig-ksphere-security 
/stable/tekton @mesosphere/devx

/staging/prometheus-operator @mesosphere/sig-ksphere-observability
